<!doctype html>
<html>

<head>
    <title>Tic Tac Toe</title>
</head>

<body>
    <h1>Tic Tac Toe</h1>
    <h2>{{ msg }}</h2>
    <h2>Credits: {{ user_credits }}</h2>
    <form action="" method="POST">
        <table>
            {% for j in range(0, 3) %}
            <tr>
                {% for i in range(0, 3) %}
                <td>
                    <button type="submit" name="choice" value="{{j*3+i+1}}" {{"disabled" if game.spot_string(i, j)!="_"
                        }}>
                        {{game.spot_string(i, j)}}
                    </button>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% if user_credits >= 3 %}
        <button type="submit" name="reset">Start Over</button>
        {% endif %}
        {% if user_credits == 0 %}
        <button type="submit" name="credits">Buy 10 credits!</button>
        {% endif %}
    </form>
</body>

</html>