{% extends 'base.html' %}

{% block content %}
<div>
    <h4><mark>Please do not reload page! You can lose session...</mark></h4>
</div>
<h2>Credits: {{ user_credits }}</h2>
<script>
    socket.on('user_connected', function (data) {
        console.log('User connected:', data.user);
    });
</script>
<h2>{{ msg }}</h2>
<div>
    <form action="" method="POST">
        {% if check_if_game_is_on %}
        <table>
            {% for j in range(0, 3) %}
            <tr>
                {% for i in range(0, 3) %}
                <td>
                    <button type="submit" name="choice" value="{{j*3+i+1}}" {{"disabled" if game.spot_string(i, j)!="_"
                        }}>
                        {{game.spot_string(i, j)}}
                    </button>
                </td>
                {% endfor %}
            </tr>
            {% endfor %}
        </table>
        {% endif %}
        {% if user_credits == 0 %}
        <button class="btn btn-secondary mb-3" type="submit" name="credits">Buy 10 credits!</button>
        {% endif %}
        {% if user_credits >= 3 %}
        <button class="btn btn-secondary mb-3" type="submit" name="reset">Start Over</button>
        {% endif %}
        {% if less_than_three_credits_and_game_is_over and game_msg != "play move" and user_credits != 0 %}
        <h4>Game over! If you want to play, please log in again...</h4>
        {% endif %}
    </form>
</div>

<script>
    // Disable page refresh on Enter key press and browser refresh button
    window.addEventListener('keydown', function (e) {
        if (e.key === 'F5') {
            e.preventDefault();
        }
    });
</script>
{% endblock %}