{% extends 'base.html' %}

{% block content %}

<body>
    <h1>Login Page</h1>
    <form action="/login" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username"><br><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password"><br><br>
        <div>
            <input class="btn btn-secondary mb-3" type="submit" value="Login">
            <a class="btn btn-secondary mb-3" href="{{ url_for('register') }}">Register</a>
        </div>
    </form>


    {% endblock %}